<h1>Your coach says:</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<!-- will display the question (get-request through the form (ask.html.erb)) -->
<!-- will display the answer (pre-defined) -->

<div class="card">
  <p><%= @question %></p>
  <p class="user">- You</p>
</div>

<div class="card">
  <% if @question.last === "?" %>
    <p><%= "Silly question, get dressed and go to work!" %></p>
  <% elsif @question === "I am going to work" %>
    <p><%= "Great!" %></p>
  <% else %>
    <p><%= "I don't care, get dressed and go to work!" %></p>
  <% end %>
<p class="user">- Your Coach</p>
</div>

<div class="btn">
  <p><%= link_to "Ask a new question", ask_path %></p>
</div>
